
body {
    margin: 0;
    backdrop-filter: blur(20px);
    background-color: #b2b2b2;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.calculator {
    background-color: #f9f4e7;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 0px #313131, -10px -10px 0px #ffffff;
}

.display {
    background-color: #f1f0e7;
    text-align: right;
    padding: 10px;
    font-size: 2.5rem;;
    border: 2px solid #313131;
    margin-bottom: 20px;
}

.calculator form input:not([name="display"]) {
    width: 60px;
    height: 60px;
    margin: 10px 5px;
    background-color: #f1f0e7;
    border: 2px solid #313131;
    border-radius: 10px;
    color: #313131;
    font-size: 1.5rem;
    box-shadow: 5px 5px 0px #b2b2b2, -5px -5px 0px #ffffff;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.calculator form input:active {
    box-shadow: inset 5px 5px 0px #b2b2b2, inset -5px -5px 0px #ffffff;
}

.operator {
    background-color: #ded8c7;
}

.equal {
    width: 120px;
}


